.tc-home {
	background-color: cd-palette($cd-background, 2012);
	position: relative;

	h4 {
		color: cd-palette($cd-color, 1001);
		font-weight: cd-fontWeight(700);
	}

	p {
		color: cd-palette($cd-color, 1001);
	}

	.tc-center {
		width: 100%;

		.tc-buttons {
			margin-top: 20px;

			button {
				background-color: cd-palette($cd-background, 2001);
				border-radius: 3px;
				box-shadow: 1px 1px 1px cd-palette($cd-shadow, 4005);
				padding: 2px 8px;

				&:first-child {
					margin-right: 5px;
				}
			}
		}
	}

	.tc-additional {
		bottom: 10px;
		left: 0;
		padding: 0 10px;
		position: absolute;
		right: 0;
		text-align: center;

		p {
			font-style: italic;
		}

		* {
			color: cd-palette($cd-color, 1001);
			font-size: cd-fontSize(s12);
		}
	}
}
