.tc-game-moves {
	padding: 15px 15px 90px;

	.tc-user {
		display: flex;

		.tc-avatar {
			background-color: cd-palette($cd-background, 2014);
			border-radius: 50%;
			float: left;
			height: 35px;
			padding: 1px;
			vertical-align: top;
			width: 35px;
		}

		.tc-desc {
			display: inline-block;
			margin-left: 10px;
			width: calc(100% - 45px - 45px);

			p {
				background-color: cd-palette($cd-background, 2013);
				border: 1px solid cd-palette($cd-border, 3004);
				box-shadow: 1px 1px cd-palette($cd-shadow, 4002);
				font-family: initial;
				padding: 3px 10px;

				&:nth-of-type(2) {
					margin-top: 3px;
				}
			}
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&.tc-opponent {
			direction: rtl;

			.tc-avatar {
				background-color: cd-palette($cd-background, 2012);
			}

			.tc-desc {
				direction: ltr;
				margin-left: 0;
				margin-right: 10px;
				text-align: right;
			}
		}
	}
}
