.tc-app {
	background-color: cd-palette($cd-background, 2001);
	height: 100vh;
	margin: 0 auto;
	max-width: 375px;
	position: relative;

	// media
	@include cd-media(desktop, tablet) {
		max-width: 100%;
	}
}
